[submodule "buildrump.sh"]
	path = buildrump.sh
	url = https://github.com/rumpkernel/buildrump.sh
[submodule "src-netbsd"]
	path = src-netbsd
	branch = virtio
	url = https://github.com/ggkanas/src-netbsd.git
